@charset "iso-8859-2";
/* CSS Document */

/* Estilos Generales
----------------------------------------------------------------------------------------------------*/
body{
	background: transparent url(../images/bg-sprite.png) repeat;
}

html,body{
height:100%;
}

*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div{
	display: block;
}

.container_12:after, .container_12:before {
	display: table;
	content: "";
	line-height: 0;
}

.container_12:after{
	clear: both;
}

.wrapper{
	background: transparent url(../images/bg-wrapper.jpg) repeat-x;
	background-position: center top;
	height: auto;
	min-height:100%;
	padding-bottom: 91px
}

.logo{
	float: left;
	background: transparent url(../images/logo-didactica.png) no-repeat;
	display: block;
	width: 291px;
	height: 77px;
	margin-top: 10px;
}

.nav-menu{
	height: 66px;
	width: 615px;
	background: transparent url(../images/bg-menu.png) no-repeat;
	display: block;
	float: right;
}

.menu-prov{
	height: 22px;
	width: 542px;
	background: transparent url(../images/menu-provisional.png) no-repeat;
	display: block;
	margin-top: 15px;
	margin-left: 40px;
}

.menu ul{
	margin-top: 15px;
}
.menu li{
	display: inline-block;
	margin-left: 25px;
}
.menu li a{
	display: block;
	background: transparent url(../images/menu.png) no-repeat;
}
.menu li:first-child{
		margin-left: 35px;
}
.menu li .menu-item1{
	width: 40px;
	height: 20px;
	background-position: 0px 0px;
}
.menu li .menu-item1:hover{
	background-position: 0px -33px;
}
.menu li .menu-item2{
	width: 120px;
	height: 23px;
	background-position: -69px 0px;
}
.menu li .menu-item2:hover{
	background-position: -69px -35px;
}
.menu li .menu-item3{
	width: 144px;
	height: 23px;
	background-position: -212px 0px;
}
.menu li .menu-item3:hover{
	background-position: -212px -35px;
}
.menu li .menu-item4{
	width: 53px;
	height: 23px;
	background-position: -385px 0px;
}
.menu li .menu-item4:hover{
	background-position: -385px -35px;
}
.menu li .menu-item5{
	width: 72px;
	height: 23px;
	background-position: -471px 0px;
}
.menu li .menu-item5:hover{
	background-position: -471px -35px;
}

.main-content{
	position: relative;
}

p{
	color: #FFFFFF;
	line-height: normal;
    font-size: 14px;
    
}

/* Botones
----------------------------------------------------------------------------------------------------*/
.info-btn-azul{
	background: transparent url(../images/info-btn-azul.png) no-repeat;
	width: 150px;
	height: 15px;
	display: block;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	float: right;
	margin-right: 35px;
}
.info-btn-azul:hover{
	filter: alpha(opacity=80);
  opacity: 0.8;
}

.btn-destinos{
	background: transparent url(../images/btn-destinos.png) no-repeat;
	width: 190px;
	height: 45px;
	display: block;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.btn-destinos:hover{
	filter: alpha(opacity=80);
  opacity: 0.8;
}

.btn-info{
	background: transparent url(../images/info-btn.png) no-repeat;
	width: 190px;
	height: 45px;
	display: block;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	border: none;
}
.btn-info:hover{
	filter: alpha(opacity=80);
  opacity: 0.8;
}

/* Inicio
----------------------------------------------------------------------------------------------------*/
.top-title{
	background: transparent url(../images/top-titulo.png) no-repeat;
	width: 598px;
	height: 78px;
	background-position: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.inicio-contenido{
	min-height: 680px;
}

.inicio-banner-images{
    background: transparent url(../images/bg-banner.png) no-repeat;
    width: 683px;
    height: 324px;
    position: absolute;
    left: -35px;
}

.inicio-banner-sup-der{
    background: transparent url(../images/home-derecha-top.png) no-repeat;
    width: 454px;
    height: 630px;
    position: absolute;
    right: -80px;
}

.inicio-banner-sup-der >div{
	width: 362px;
	top: 380px;
	position: relative;
}

.inicio-banner-sup-der >div p{
	padding: 10px 50px;
	color: #2B3941;
	text-align: center;
	font-size: 16px;
}
.inicio-bus{
    background: transparent url(../images/home-camion.png) no-repeat;
    width: 400px;
    height: 248px;
    position: absolute;
    top: 530px;
    right: -10px;
}

.inicio-objetivos{
	position: absolute;
	top: 333px;
	left: 0px;
	width: 585px;
	height: 280px;
}

.titulo-objetivos{
	background: transparent url(../images/inicio-titulos.png) no-repeat 0px 0px;
	width: 309px;
	height: 103px;
	position: absolute;
}

.medalla-objetivos{
	background: transparent url(../images/home-medalla1.png) no-repeat;
	width: 210px;
	height: 190px;
	position: absolute;
	z-index: 1;
	right: -40px;
	top: -60px;
}

.objetivos-contenido{
    position: relative;
    top: 130px;
}

.objetivos-contenido >div{
    width: 33.3%;
    float: left;
    height: 170px;
    background: transparent url(../images/objetivos-titulos-div.png) no-repeat left center;
}

.objetivos-contenido >div:first-child{
    background: none;
}

.objetivos-contenido div a, .objetivos-contenido div span {
    display: block;
}

.objetivo-aprendizaje{
   	background: transparent url(../images/objetivos-titulos.png) no-repeat 0px 7px;
    width: 188px;
    height: 40px;
    margin: auto;
}

.objetivo-diversion{
   	background: transparent url(../images/objetivos-titulos.png) no-repeat 0px -40px;
    width: 142px;
    height: 40px;
    margin: auto;
}
.objetivo-seguridad{
   	background: transparent url(../images/objetivos-titulos.png) no-repeat 0px -85px;
    width: 148px;
    height: 40px;
    margin: auto;
}
.icono-diversion{
   	background: transparent url(../images/icono-diversion.png) no-repeat;
    width: 90px;
    height: 88px;
    margin: 20px auto;
  
    -webkit-transition-property: opacity, -moz-transform;
    -webkit-transition-duration: .3s, .2s;
    -moz-transition-property: opacity, -webkit-transform;
    -moz-transition-duration: .3s, .2s; 
    -o-transition-property: opacity, -o-transform;
    -o-transition-duration: .3s, .2s; 
    transition-property: opacity, transform;	
    transition-duration: .3s, .2s;
}
.icono-diversion:hover{
  	-moz-transform: scale(1.1);
 	-webkit-transform: scale(1.1);
 	-o-transform: scale(1.1);
 	transform: scale(1.1);
	opacity: .8;
}
.icono-aprendizaje{
   	background: transparent url(../images/icono-aprendizaje.png) no-repeat;
    width: 90px;
    height: 88px;
    margin: 20px auto;
    -webkit-transition-property: opacity, -moz-transform;
    -webkit-transition-duration: .3s, .2s;
    -moz-transition-property: opacity, -webkit-transform;
    -moz-transition-duration: .3s, .2s; 
    -o-transition-property: opacity, -o-transform;
    -o-transition-duration: .3s, .2s; 
    transition-property: opacity, transform;	
    transition-duration: .3s, .2s;
}
.icono-aprendizaje:hover{
	-moz-transform: scale(1.1);
 	-webkit-transform: scale(1.1);
 	-o-transform: scale(1.1);
 	transform: scale(1.1);
	opacity: .8;
}
.icono-seguridad{
   	background: transparent url(../images/icono-seguridad.png) no-repeat;
    width: 90px;
    height: 88px;
    margin: 20px auto;
  
    -webkit-transition-property: opacity, -moz-transform;
    -webkit-transition-duration: .3s, .2s;
    -moz-transition-property: opacity, -webkit-transform;
    -moz-transition-duration: .3s, .2s; 
    -o-transition-property: opacity, -o-transform;
    -o-transition-duration: .3s, .2s; 
    transition-property: opacity, transform;	
    transition-duration: .3s, .2s;
}
.icono-seguridad:hover{
  	-moz-transform: scale(1.1);
 	-webkit-transform: scale(1.1);
 	-o-transform: scale(1.1);
 	transform: scale(1.1);
	opacity: .8;
}

.inicio-destinos{
	position: relative;
	margin-bottom: 15px
}

.destinos-titulo{
	background: transparent url(../images/inicio-titulos.png) no-repeat 0 -134px;
	width: 268px;
	height: 27px;
	display: block;
}

.destinos-maletas{
	background: transparent url(../images/inicio-destinos-maletas.png) no-repeat;
	width: 199px;
	height: 173px;
	float: left;
}

.destinos-contenido{
	float: left;
	width: 330px;
}
.destinos-contenido p{
	margin-top: 10px;
}
.destinos-contenido p strong{
	font-size: 16px;
}

.destinos-contenido span{
	font-size: 18px;
	color: #FFFFFF;
	line-height: normal;
}
.btn-destinos{
	margin-left: 70px;
	margin-top: 20px;
}
.inicio-respons-contenido, .inicio-experiencia-contenido, .inicio-padres-contenido{
	min-height: 190px;
}
.inicio-respons-contenido .titulo{
	background: transparent url(../images/inicio-titulos.png) no-repeat 0 -173px;
	width: 217px;
	height: 40px;
    margin-bottom: 10px;
}
.inicio-respons-contenido a{
    margin-left: auto;
    margin-right: auto;
}

.inicio-experiencia-contenido .titulo{
	background: transparent url(../images/inicio-titulos.png) no-repeat 0 -228px;
	width: 257px;
	height: 40px;
    margin-bottom: 10px;
}
.inicio-experiencia-contenido span{
    color: #FFFFFF;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.inicio-experiencia-contenido ul li{
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 8px;
}
.inicio-experiencia-contenido a{
    margin-left: auto;
    margin-right: auto;
}

.iconos-redes{
    display: inline-block;
    margin-top: -10px;
}

.iconos-redes span{
    display: block;
    width: 47px;
    height: 47px;
    float: left;
    margin-left: 20px;
}
.iconos-redes span:first-child{
    margin-left: 60px;
}
.iconos-redes .icono-facebook{
    background: transparent url(../images/inicio-redes-iconos.png) no-repeat 0 0px;
}
.iconos-redes .icono-twitter{
    background: transparent url(../images/inicio-redes-iconos.png) no-repeat -67px 0px;
}
.iconos-redes .icono-youtube{
    background: transparent url(../images/inicio-redes-iconos.png) no-repeat -126px 0px ;
}
.inicio-padres-contenido .titulo{
    background: transparent url(../images/inicio-titulos.png) no-repeat -358px -10px;
    width: 253px;
    height: 53px;
    clear: both;
    margin: auto;
    margin: 10px auto 5px auto;
}
.padres-redes{
    background: transparent url(../images/inicio-padres-redes.png) no-repeat;
    width: 166px;
    height: 120px;
    position: relative;
    top: -10px;
    margin: auto;
}
.inicio-padres-contenido a{
    margin-left: auto;
    margin-right: auto;
    margin-top: -13px;
    position: relative;
    z-index: 1;
}

.inicio-banner-medio{
	margin-top: 0px;
}
.inicio-banner-medio .titulo{
	background: transparent url(../images/inicio-titulos.png) no-repeat -365px -93px;
	width: 436px;
	height: 82px;
	float: left;
	position: relative;
	top: 100px;
}
.inicio-banner-medio .banner-img{
	background: transparent url(../images/banner-medio.png) no-repeat;
    width: 463px;
    height: 411px;
	float: right;
}

.inicio-unidades{
	margin-top: -160px;
}
.inicio-unidades .mapa{
	background: transparent url(../images/mapa.png) no-repeat;
	width: 269px;
	height: 174px;
	display: block;
	position: relative;
}
.inicio-unidades .titulo{
	background: transparent url(../images/inicio-titulos.png) no-repeat -345px -201px;
	width: 405px;
	height: 91px;
	display: block;
	position: relative;
	margin-top: -135px;
	left: 240px;
}
.inicio-unidades-contenido{
	margin-top: 50px;
}
.inicio-unidades-contenido .unidades-general, .inicio-unidades-contenido .unidades-mapa{
	float: left;	
}
.inicio-unidades-contenido .unidades-general{
	width: 400px;
}
.inicio-unidades-contenido .unidades-mapa{
	width: 500px;
}
.inicio-unidades-contenido .unidades-info{
	background: transparent url(../images/bg-unidades-info.png) no-repeat;
	width: 341px;
	height: 216px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
  padding: 75px;
text-align: center;
line-height: normal;
font-size: 14px;
color: rgb(180, 181, 182);
}

.inicio-unidades-contenido .unidades-menu li{
	display: inline-block;
	margin-left: 0px;
	margin-right: 3%;
}

.unidades-menu .unidad-aguascalientes a{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px 3px;
	width: 135px;
	height: 26px;
	display: block;
}
.unidades-menu .unidad-aguascalientes a:hover{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px -64px;
}
.unidades-menu .unidad-toluca a{
	background: transparent url(../images/unidades-didactica.png) no-repeat -166px 3px;
	width: 69px;
	height: 26px;
	display: block;
}
.unidades-menu .unidad-toluca a:hover{
	background: transparent url(../images/unidades-didactica.png) no-repeat -166px -64px;
}
.unidades-menu .unidad-hidalgo a{
	background: transparent url(../images/unidades-didactica.png) no-repeat -281px 3px;
	width: 80px;
	height: 26px;
	display: block;
}
.unidades-menu .unidad-hidalgo a:hover{
	background: transparent url(../images/unidades-didactica.png) no-repeat -281px -64px;
}
.unidades-menu .unidad-df a{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px -32px;
	width: 136px;
	height: 26px;
	display: block;
}
.unidades-menu .unidad-df a:hover{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px -99px;
}
.unidades-menu .unidad-queretaro a{
	background: transparent url(../images/unidades-didactica.png) no-repeat -166px -32px;
	width: 96px;
	height: 26px;
	display: block;
}
.unidades-menu .unidad-queretaro a:hover{
	background: transparent url(../images/unidades-didactica.png) no-repeat -166px -99px;
}
.unidades-menu .unidad-puebla a{
	background: transparent url(../images/unidades-didactica.png) no-repeat -284px -32px;
	width: 73px;
	height: 26px;
	display: block;
}
.unidades-menu .unidad-puebla a:hover{
	background: transparent url(../images/unidades-didactica.png) no-repeat -284px -99px;
}

.unidades-mapa .unidad-info-container{
  padding: 10px;
}
.unidad-info-container .tit-aguascalientes{
  background: transparent url(../images/unidades-didactica.png) no-repeat 0px -141px;
  width: 200px;
  height: 34px;
  display: block;
  margin: auto;
}
.unidad-info-container .tit-toluca{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px -178px;
	width: 200px;
	height: 34px;
	display: block;
  margin: auto;
}
.unidad-info-container .tit-hidalgo{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px -218px;
	width: 200px;
	height: 34px;
	display: block;
  margin: auto;
}
.unidad-info-container .tit-df{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px -258px;
	width: 200px;
	height: 34px;
	display: block;
  margin: auto;
}
.unidad-info-container .tit-queretaro{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px -298px;
	width: 200px;
	height: 34px;
	display: block;
  margin: auto;
}
.unidad-info-container .tit-puebla{
	background: transparent url(../images/unidades-didactica.png) no-repeat 0px -338px;
	width: 200px;
	height: 34px;
	display: block;
  margin: auto;
}
.unidad-info-container .btn-info{
  cursor: pointer;
  margin: auto;
}

.unidad-info{
  min-height: 70px;
  display: block;
  margin-top: 10px;
}
.unidad-info span{
  margin-bottom: 5px;
}
.unidad-info .info-tel, .unidad-info .info-correo{
  display: block;
  text-align: center;
}
.unidad-info .info-correo{
  color: rgb(51, 135, 195);
}
/* Mapa
----------------------------------------------------------------------------------------------------*/
ul#mapa { 
  list-style-type : none;
  position : relative;
  display : block;
  background : transparent url(../images/mapa-mexico.png) no-repeat 0 0;
	width: 540px;
	height: 390px;
  border : none;
  margin : 0 auto 0;
  padding : 0;
	margin-top: -30px;
}

ul#mapa li { 
  display : inline;
}

ul#mapa li a {
  position : relative;
  display : block;
  text-decoration : none;
}

ul#mapa li a .offset { 
  margin-top : -9000px; 
  margin-left : -9000px;
  position : absolute;
}

ul#mapa li a:hover .offset, ul#mapa li a:focus .offset, ul#mapa li a:active .offset {
  color : #000;
  background-image : none;
  background-color : #ffffde;
  display : block;
  width: 307px;
  height : auto;
  text-decoration : none;
  cursor: default;
}




/* hot-spot MAPA Aguascalientes */

ul#mapa li a#cmp01 {
  width: 20px;
  height: 21px;
  margin-top : 0;
  margin-left : 0px;
  background : transparent url(../images/unidades-estados.png) no-repeat 1px -4px;
	
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  filter: alpha(opacity=0);
  opacity: 0;
	
  position: relative;
  left: 242px;
  top: 228px;
}

ul#mapa li a#cmp01:hover, ul#mapa li a#cmp01:focus, ul#mapa li a#cmp01:active {
	filter: alpha(opacity=100);
  opacity: 1;
}

ul#mapa li a#cmp01:hover .offset, ul#mapa li a#cmp01:focus .offset, ul#mapa li a#cmp01:active .offset {
  margin-top : 0px;
  margin-left : 0px;
	background: #FFFFFF;
	position: relative;
	left: -602px;
	top: -120px;	
}

/* hot-spot MAPA Toluca */

ul#mapa li a#cmp02 {
  width: 35px;
	height: 38px;
  margin-top : 0;
  margin-left : 0px;
	background : transparent url(../images/unidades-estados.png) no-repeat 1px -79px;
	
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	filter: alpha(opacity=0);
  opacity: 0;
	
	position: absolute;
	left: 288px;
	top: 271px;
}

ul#mapa li a#cmp02:hover, ul#mapa li a#cmp02:focus, ul#mapa li a#cmp02:active {
	filter: alpha(opacity=100);
  opacity: 1;
}

ul#mapa li a#cmp02:hover .offset, ul#mapa li a#cmp02:focus .offset, ul#mapa li a#cmp02:active .offset {
  margin-top : 0px;
  margin-left : 0px;
	background: #FFFFFF;
	position: relative;
	left: -645px;
	top: -163px;
}

/* hot-spot MAPA Hidalgo */
ul#mapa li a#cmp03 {
  width: 35px;
	height: 35px;
  margin-top : 0;
  margin-left : 0px;
	background : transparent url(../images/unidades-estados.png) no-repeat -45px -0px;
	
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	filter: alpha(opacity=0);
  opacity: 0;
	
	position: absolute;
	left: 301px;
	top: 249px;
	z-index: 1;
}

ul#mapa li a#cmp03:hover, ul#mapa li a#cmp03:focus, ul#mapa li a#cmp03:active {
	filter: alpha(opacity=100);
  opacity: 1;
}

ul#mapa li a#cmp03:hover .offset, ul#mapa li a#cmp03:focus .offset, ul#mapa li a#cmp03:active .offset {
  margin-top : 0px;
  margin-left : 0px;
	background: #FFFFFF;
	position: relative;
	left: -659px;
	top: -141px;
}

/* hot-spot MAPA DF */

ul#mapa li a#cmp04 {
  width: 10px;
	height: 11px;
  margin-top : 0;
  margin-left : 0px;
	background : transparent url(../images/unidades-estados.png) no-repeat -0px -131px;
	
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	filter: alpha(opacity=0);
  opacity: 0;
	
	position: absolute;
	left: 309px;
	top: 285px;
	z-index: 1;
}

ul#mapa li a#cmp04:hover, ul#mapa li a#cmp04:focus, ul#mapa li a#cmp04:active {
	filter: alpha(opacity=100);
  opacity: 1;
}

ul#mapa li a#cmp04:hover .offset, ul#mapa li a#cmp04:focus .offset, ul#mapa li a#cmp04:active .offset {
  margin-top : 0px;
  margin-left : 0px;
	background: #FFFFFF;
	position: relative;
	left: -667px;
	top: -177px;
}

/* hot-spot MAPA Queretaro */

ul#mapa li a#cmp05 {
  width: 33px;
	height: 34px;
  margin-top : 0;
  margin-left : 0px;
	background : transparent url(../images/unidades-estados.png) no-repeat 0 -35px;
	
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	filter: alpha(opacity=0);
  opacity: 0;
	
	position: absolute;
	left: 287px;
	top: 244px;
}

ul#mapa li a#cmp05:hover, ul#mapa li a#cmp05:focus, ul#mapa li a#cmp05:active {
	filter: alpha(opacity=100);
  opacity: 1;
}

ul#mapa li a#cmp05:hover .offset, ul#mapa li a#cmp05:focus .offset, ul#mapa li a#cmp05:active .offset {
  margin-top : 0px;
  margin-left : 0px;
	background: #FFFFFF;
	position: relative;
	left: -645px;
	top: -136px;
}

/* hot-spot MAPA Puebla */

ul#mapa li a#cmp06 {
  width: 47px;
	height: 61px;
  margin-top : 0;
  margin-left : 0px;
	background : transparent url(../images/unidades-estados.png) no-repeat -45px -55px;
	
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	filter: alpha(opacity=0);
  opacity: 0;
	
	position: absolute;
	left: 316px;
	top: 260px;
}

ul#mapa li a#cmp06:hover, ul#mapa li a#cmp06:focus, ul#mapa li a#cmp06:active {
	filter: alpha(opacity=100);
  opacity: 1;
}

ul#mapa li a#cmp06:hover .offset, ul#mapa li a#cmp06:focus .offset, ul#mapa li a#cmp06:active .offset {
  margin-top : 0px;
  margin-left : 0px;
	background: #FFFFFF;
	position: relative;
	left: -674px;
	top: -152px;
}

/* Footer
----------------------------------------------------------------------------------------------------*/
.footer{
	width: 972px;
	height: 91px;
	background: transparent url(../images/bg-footer.png) no-repeat;
	display: block;
	margin-top: -91px;
}
.footer-content{
  padding: 37px 30px;
  color: #4E6D80;
  font-size: 14px;
}
.footer-content a{
  color: #0085B2;
  text-decoration: none;
  float: right;
}